@model WOD.Domain.Models.News

@{
    ViewData["Title"] = "Details";
}
<div class="wrapper">
	<hr />
	<div class="news-details">
		<h1>@Model.Title</h1>
		
		<img src="~/@Model.Image" />

		@Html.DisplayFor(model => model.DateAdded) 

		<p><font size="4">@Model.Text</font></p>

		<div>
		<a asp-action="Index">Back to List</a>
		</div>
	</div>
</div>


